services:
  ur5_ros2_humble:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: ur5_humble_dev

    security_opt:
      - seccomp:unconfined

    volumes:
      - ./../ros2_ws:/ros2_ws

    network_mode: "host"

    environment:
      - ROS_DOMAIN_ID=42
      - QT_X11_NO_MITSHM=1
      - DISPLAY=$DISPLAY
      # - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      # - CYCLONEDDS_URI=/ros2_ws/cyclonedds.xml

    # Command to run after the entrypoint, keeping the container open
    command: "bash"